@tailwind base;
@tailwind components;
@tailwind utilities;

.text-glow {
  text-shadow: 0 0 10px #12fc3d;
}

.text-header-glow {
  text-shadow: 0 0 12px #aa25eddf
}


/* Target the SVG element directly for transformation */
.nav-icon {
  transition: transform 0.3s ease;
}

/* Rotate the SVG when the menu is open */
.nav-icon.open {
  transform: rotate(90deg); /* Rotates the icon to give a dynamic feel */
}

@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  from { --gradient-angle: 0deg; }
  to { --gradient-angle: 360deg; }
}


.hero-gradient {
  background: linear-gradient(var(--gradient-angle), #fbdcf418, #ffadec1c, #91037028, #a825ff18 );
  animation: rotation 10s linear infinite;
  box-shadow:
    0 0 12px rgba(250, 200, 249, 0.7),
    0 0 18px rgba(255, 147, 253, 0.7),
    0 0 24px rgba(237, 5, 233, 0.7);
}

.nav-gradient-green {
  background: linear-gradient(var(--gradient-angle), #0fe83716, #12fc3d10, #80f29221);
  animation: rotation 10s linear infinite;
  box-shadow:
    0 0 12px rgba(133, 230, 151, 0.7),
    0 0 18px rgba(83, 235, 111, 0.7),
    0 0 24px rgba(48, 255, 79, 0.7);
}

.clip-path-left {
  clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
}

.clip-path-right {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
}

@keyframes moveArrowRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveArrowDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animateArrowRight {
  animation: moveArrowRight 2s ease-in-out infinite;
  filter: drop-shadow(0px 0px 7px rgba(127, 246, 161, 0.845));
}

.animateArrowDown {
  animation: moveArrowDown 2s ease-in-out infinite;
  filter: drop-shadow(0px 0px 7px rgba(127, 246, 161, 0.845));
}



.image-glow {
  -webkit-filter: brightness(0%) drop-shadow(0 0 0 rgba(255, 255, 255, 0));
  filter: brightness(0%) drop-shadow(0 0 0 rgba(255, 255, 255, 0));
  opacity: 0;
  -webkit-animation: illuminate 10s infinite;
  animation: illuminate 10s infinite;
}

@-webkit-keyframes illuminate {
  0%, 100% {
    -webkit-filter: brightness(0%) drop-shadow(0 0 0 rgba(255, 255, 255, 0));
    filter: brightness(0%) drop-shadow(0 0 0 rgba(255, 255, 255, 0));
    opacity: 0;
  }
  50% {
    -webkit-filter: brightness(100%) drop-shadow(0 0 12px rgb(233, 161, 255));
    filter: brightness(100%) drop-shadow(0 0 12px rgb(233, 161, 255));
    opacity: 1;
  }
}
