@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  margin: 0;
  background: #000000;
}

.text-glow {
  text-shadow: 0 0 10px #12fc3d;
}

.text-glow-cyan {
  text-shadow: 0 0 16px #27ffff;
}

.text-header-glow {
  text-shadow: 0 0 12px #aa25eddf
}


/* Target the SVG element directly for transformation */
.nav-icon {
  transition: transform 0.3s ease;
}

/* Rotate the SVG when the menu is open */
.nav-icon.open {
  transform: rotate(90deg);
  /* Rotates the icon to give a dynamic feel */
}

@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  from {
    --gradient-angle: 0deg;
  }

  to {
    --gradient-angle: 360deg;
  }
}


.hero-gradient {
  background: linear-gradient(var(--gradient-angle), #fbdcf418, #ffadec1c, #91037028, #a825ff18);
  animation: rotation 10s linear infinite;
  box-shadow:
    0 0 12px rgba(250, 200, 249, 0.7),
    0 0 18px rgba(255, 147, 253, 0.7),
    0 0 24px rgba(237, 5, 233, 0.7);
}

.gradient-greeting {
  background: linear-gradient(var(--gradient-angle), #dceffb18, #adecff1c, #0356915b, #25dbff91);
  animation: rotation 5s linear infinite;
  box-shadow:
    0 0 12px rgb(164, 245, 254),
    0 0 24px rgba(105, 245, 255, 0.7),
    0 0 48px rgb(0, 225, 255);
}

.button-glow {
  background: linear-gradient(var(--gradient-angle), #fbdcf418, #ffadec1c, #91037028, #a825ff18);
  animation: rotation 10s linear infinite;
  box-shadow:
    0 0 6px rgba(250, 200, 249, 0.7),
    0 0 10px rgba(255, 147, 253, 0.7),
    0 0 16px rgba(237, 5, 233, 0.7);
}

.nav-gradient-green {
  background: linear-gradient(var(--gradient-angle), #0fe83716, #12fc3d10, #80f29221);
  animation: rotation 10s linear infinite;
  box-shadow:
    0 0 12px rgba(133, 230, 151, 0.7),
    0 0 18px rgba(83, 235, 111, 0.7),
    0 0 24px rgba(48, 255, 79, 0.7);
}

.login-gradient-green {
  background: linear-gradient(var(--gradient-angle), #0fe83716, #12fc3d10, #80f29221);
  animation: rotation 10s linear infinite;
  box-shadow:
    0 0 10px rgba(133, 230, 151, 0.7),
    0 0 16px rgba(83, 235, 111, 0.7),
    0 0 22px rgba(48, 255, 79, 0.7);
}


.clip-path-left {
  clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
}

.clip-path-right {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
}

@keyframes moveArrowRight {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveArrowDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

.animateArrowRight {
  animation: moveArrowRight 2s ease-in-out infinite;
  filter: drop-shadow(0px 0px 7px rgba(127, 246, 161, 0.845));
}

.animateArrowDown {
  animation: moveArrowDown 2s ease-in-out infinite;
  filter: drop-shadow(0px 0px 7px rgba(127, 246, 161, 0.845));
}


.tiptap-editor .ProseMirror {
  caret-color: #ffffff;
}

.tiptap-editor .ProseMirror-focused {
  outline: none;
}
